<div>
    <h3 class="mt-5 mb-4">Dashboard:</h3>
    <form>
        <select>
            <option value="">Todos os médicos (<%= Doctor.count %>)</option>
        </select>
    </form>
    <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Appointments</th>
            <th scope="col">Patients</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><%= Appointment.count %></th>
            <th scope="row"><%= Patient.count %></th>
        </tr>
    </tbody>
    </table>
</div>